<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ng_video_series</title>
	<!--<style type="text/css">
		.orange {
			color: orange;
		}
		.italic {
			font-style: italic;
		}
	</style> -->
</head>
<body>
	<h1>Hello, world!</h1>
	<!-- <h1 ng-class="[classVar, 'italic']">Hello, world!</h1> -->
	<!-- <h1 ng-class="{orange : classVar, italic: classVar}">Hello, world!</h1> -->
	<div ng-controller="MainController">
		<!-- <div ng-include="'test.html'">
			
		</div> -->
		<!-- <div ng-repeat="attr in ob">
			{{attr}}
		</div> -->
		<!-- <div ng-repeat="element in array track by $index"> -->
			<!-- {{element}} : {{$index}} -->
			<!-- <span ng-show="$first">first</span> -->
			<!-- <span ng-show="$middle">middle</span> -->
			<!-- <span ng-show="$last">last</span> -->
			<!-- <span ng-show="$even">even</span> -->
			<!-- <span ng-show="$odd">odd</span> -->
		<!-- </div>
		<div ng-repeat-start="user in users">
			<strong>{{user.name }}</strong>: {{user.age}}
		</div>
		<hr ng-repeat-end /> -->
		<!-- {{val}} -->
		<!-- {{func()}} -->
		<!-- <button ng-click="inc()">Click me</button> -->
		<!-- <h2 ng-show="isEven()">even</h2> -->
		<!-- <h2 ng-hide="isEven()">odd</h2>  -->
		<!-- <h2 ng-show="even">even</h2> -->
		<!-- <h2 ng-hide="even">odd</h2> -->
	</div>
	<!-- <script type="text/ng-template" id="test.html"> -->
	<!-- <h1>My template</h1> -->
	<!-- </script> -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>